<a href="https://colab.research.google.com/github/Ahmedtarekyoussef/Flaggy/blob/main/PredictCarPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Setup for the database**

In [1]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (8.0.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (2).json

{'kaggle.json': b'{"username":"ahmedtarek122","key":"8649a23c261b9b7a8eaf365c22cb931a"}'}

In [3]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [4]:
! kaggle datasets download -d deepcontractor/car-price-prediction-challenge

car-price-prediction-challenge.zip: Skipping, found more recently modified local copy (use --force to force download)

# **Data Pre-processing**

In [5]:
import pandas as pd

df = pd.read_csv('car-price-prediction-challenge.zip')
df.head(1)
#df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12

In [6]:
#Used to know the datatypes of all the columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [7]:
#Removing the "km" phrase from the mileage column to convert its data type to int

df['Mileage'] = df['Mileage'].str.replace('km', '')

In [8]:
df.tail(1)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923,4.0,Automatic,Front,04-May,Left wheel,White,12

In [9]:
# Changing the incorrect mileage datatype to int for high accuracy of prediction

df['Mileage'] = df['Mileage'].astype(int)
print(df['Mileage'].dtype)

int64

In [10]:
#used to make sure that there is no null values

print(df.isnull().sum())

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [11]:
#To get a statistical veiw of the numerical data types

df.describe()

,ID,Price,Prod. year,Mileage,Cylinders,Airbags
count,1.923700e+04,1.923700e+04,19237.000000,1.923700e+04,19237.000000,19237.000000
mean,4.557654e+07,1.855593e+04,2010.912824,1.532236e+06,4.582991,6.582627
std,9.365914e+05,1.905813e+05,5.668673,4.840387e+07,1.199933,4.320168
min,2.074688e+07,1.000000e+00,1939.000000,0.000000e+00,1.000000,0.000000
25%,4.569837e+07,5.331000e+03,2009.000000,7.013900e+04,4.000000,4.000000
50%,4.577231e+07,1.317200e+04,2012.000000,1.260000e+05,4.000000,6.000000
75%,4.580204e+07,2.207500e+04,2015.000000,1.888880e+05,4.000000,12.000000
max,4.581665e+07,2.630750e+07,2020.000000,2.147484e+09,16.000000,16.000000

In [20]:
#after seeing these statistics, the least expensive car price is 1 dollar which does not make sense so we will deal with it
p=(df['Price'] < 1000).sum()
print(p)
# Since they are only 2, it is eaiser to delete them rather than imputating them

2574

# **Data Inspection**

In [21]:
print(df['Price'].min())

1

In [14]:
#--------------- check this
# Price issues
# Door issues
# Do visualization
# check the three n=mini projects for more cleaning techniques
#peace out